#Tabular models
Here we will use NLP to process Tabular Data.

# Mount my Google Drive

* For backup
* For storage
* For file transfer

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir="/content/gdrive/My Drive"
base_dir=root_dir+"fastai-v3"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
!curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

 Import some libraries and modules for performing some operation and matplotlib for plotting the graph

In [0]:
from fastai.tabular import *

We use pandas DataFrame for tabular data.

FastAI provides example dataset for Tabular data which is in fastai's repo, so untar the tabular dataset and read that data into dataframe using pandas, if our data is in relational dataset then pandas can read from that.

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

 We need to tell TabularList that what is our categorical variables and what are our continuous variable, so we use "cat_names" as categorical variables and "cont_names" as a continuous variable. So variables with continuous number are continuous variable such as age,education-num etc. And the option that are selected from discrete group are called as categorical variables such as occupation, relationship etc.
 
 "procs" variable is number of processes we will be doing during training the model. Here FillMissing deal with missing variable and categorify categories variable.

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

It's nice to use DataBlockAPI, the list we are using is TabularList which is in DataFrame, so provide path and dataframe object to the API.

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [11]:
data.show_batch(rows=10)

Now here we will use Tabular Learner to learn the Dataset. And here layers means info about our architecture.

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [17]:
learn.fit(1, 1e-2)